
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/AngularJS/ServiceJS/CompanyJS.js"></script>
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-settings font-green-haze"></i>
            <span class="caption-subject bold uppercase">公司管理</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="全屏"></a>
        </div>
    </div>
    <div class="portlet-body form" ng-controller="CompanyController">
        <div id="bootstrap_alerts_demo"></div>
        <form role="form" class="form-horizontal">
            <div class="form-body" >
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="form_control_1">公司名称</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form_control_1"   ng-model="company.CompanyName"   placeholder="请输入公司名称" >
                        <div class="form-control-focus" >
                        </div>
                        <span class="help-block">公司名称是必填</span>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="form_control_1">备注</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" ng-model="company.Remark"></textarea>
                        <div class="form-control-focus">
                        </div>
                       
                    </div>
                </div>
                
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn default btn-lg" onclick="javascript: history.go(-1);">取消</button>
                        <button type="button" class="btn blue btn-lg" ng-click="SubmitCompany(company)">提交</button>
                    </div>
                </div>
            </div>
           
        </form>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
