
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function OperateFormatter(value, row, index) {
        return [
            '<a class="btn btn-primary" href="javascript:void(0)" title="编辑">',
                '编辑',
            '</a>',

            '<a class="btn btn-primary" href="javascript:void(0)" title="删除">',
                '删除',
            '</a>',
        ].join('');
    }
</script>
<h1><a href="/Company/Form" class="btn btn-primary btn-lg" role="button">新增</a></h1>
<table  id="Company" data-toggle="table" data-url="/api/CompanyAPI"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-show-export="true"
        data-detail-formatter="detailFormatter"
        data-minimum-count-columns="2"
        data-show-pagination-switch="true"
        data-pagination="true"
        data-id-field="Id"
        data-page-list="[10, 25, 50, 100]"
        data-side-pagination="server"
        >
    <thead>
        <tr>
            <th data-align="center" data-field="Id" data-width="280">Id</th>
            <th data-align="center" data-field="CompanyName">公司名称</th>
            <th data-align="center" data-field="Remark">备注</th>
            <th data-align="center" data-field="operate" data-formatter="OperateFormatter" data-events="operateEvents" data-width="200">操作</th>
        </tr>
    </thead>
</table>

